body{
    background-color: $color-primary;
    header{
        background-color: $color-primary;
        position: sticky;
        top: 0;
        z-index: 999;
        .nav{
            display: flex;
            justify-content: space-between;
            .nav-item{
                padding:1rem;
                cursor: pointer;
                &:hover{
                    background-color: $color-secondary;
                    border-radius: 0.3rem;
                }
                &.button-login{
                    border: 2px solid $color-tertiary;
                    border-radius: 0.3rem;
                }
                &.button{
                    background-color: $color-fourth;
                    border-radius: 0.3rem;
                    &:hover{
                        background-color:$color-button-hover;
                    }
                }
            }
            
        }
    }

    .main{
        padding: 7.5rem 1rem 7.5rem 2.5rem;
        .main-left{
            h1{
                font-size: 	2.76rem;
                line-height: 140%;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }
            p{
                color: #adaabf;
                font-size: 1.125rem;
                font-weight: 300;
                margin-bottom: 3.5rem;
                line-height: 150%;


            }
            .button{
                background-color: $color-fourth;
                padding:1.2rem 2rem;
                font-size: 1.1rem;
                font-weight: 400;
                cursor: pointer;
                border-radius: 0.3rem;
                width: 100%;
                &:hover{
                    background-color:$color-button-hover;
                }
            }

            .main-left-bottom{
                margin-top: 7.5rem;
                .paraghraph{
                    font-size: 0.875rem;
                color: #adaabf;
                font-style: italic;
                }
                .main-images{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    .main-img{
                        opacity: 0.48;
                        height: 40px;
                        margin-right: 1.5rem;
                        margin-top: 1rem;
                    }

                }
                
            }
        }
        .main-right{
            position: relative;
            .main-right-img{
                width: 100%;
            }
            .main-right-icon{
                background-color: rgba(134,125,243,.88);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 42%;
                width: 80px;
                height: 80px;
                margin-right: auto;
                margin-left: auto;
                padding: 20px;
                border-radius: 100px;
                opacity: 1;
                transition: 250ms ease-in-out;
                &:hover{
                    background-color: $color-fourth;
                }
            }
        }
        
    }
}

