body{
    background-color: $color-primary;
    .blog-main{
        padding: 140px 80px;
        @media screen and (max-width: 991px){
            padding: 80px 16px;
        }
        @media screen and (max-width: 479px){
            padding: 80px 0;
        }
        & h4{
            margin-top: 0;
            margin-bottom: 16px;
            font-family: Rajdhani,sans-serif;
            color: #ff9a83;
            font-size: 18px;
            line-height: 1.5;
            font-weight: 500;
            text-align: center;
            letter-spacing: 1.5px;
        }
        & h1{
            margin: 16px 0;
            font-size: 48px;
            line-height: 120%;
            font-weight: 600;
            text-align: center;
            @media screen and (max-width: 479px){
                font-size: 32px;
            }
        }
        & .blog-body{
            margin-top: 80px;
            & .blog-header{
                margin-bottom: 80px ;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 16px;
                flex-wrap: wrap;
                .blog-header-item{
                    margin-right: 16px;
                    margin-bottom: 16px;
                    padding: 16px 24px;
                    border: 1px solid #322b5f;
                    border-radius: 4px;
                    background-color: #322b5f;
                    transition: .3s cubic-bezier(.25, .46, .45, .94);
                    color: #fff;
                    white-space: nowrap;
                    &:hover{
                        background-color: rgba(50,43,95,.8);
                    }
                    &.active{
                        border-color: #66e7d8;
                        background-color: #0f0d1e;
                    }
                }


            }

            .container-card{
                height: 100%;
                @media screen and ( max-width: 991px){
                    height: auto;
                }@media screen and ( max-width: 767px){
                    height: auto;
                }
                & .card{
                padding-bottom: 8px;
                margin-bottom: 48px;
                background-color: $color-secondary;
                border-radius: 1rem;
                transition: .2s;
                min-height: 100%;
                border-radius: 16px;
                &:hover{
                    transform: translate(0,-4px);
                }
                @media screen and ( max-width: 991px){
                    padding: 32px;
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-bottom: 0;
                }
                @media screen and ( max-width: 767px){
                    padding: 16px;
                    margin-right: 0;
                    margin-left: 0;
                }
                
                .card-header{
                    overflow: hidden;
                    border-radius: 15px 15px 0 0;
                    position: relative;
                    height: 240px;
                    z-index: 1;
                    @media screen and ( max-width: 991px){
                        height: auto;
                    }
                    .card-header-img{
                        width: 100%;
                        min-height: 100%;
                        border-top-left-radius:16px;
                        border-top-right-radius:16px;
                        @media screen and ( max-width: 991px){
                            border-radius: 8px;
                        }
                    }
                    .card-tag{
                        z-index: 1;
                        position: absolute;
                        left: 24px;
                        bottom: 10px;
                        padding: 4px 8px;
                        background-color: $color-fourth;
                        border-radius: 0.25rem;
                    }
                }
                .card-body{
                    cursor: pointer;
                    min-height: 100% !important;
                    h2{
                        margin-top: 48px;
                        margin-bottom: 16px;
                        padding: 0 36px;
                        font-size: 24px;
                        line-height: 150%;
                        font-weight: 500;
                        text-align: left;
                        @media screen and ( max-width: 991px){
                            margin-top: 0;
                            padding: 0;
                            font-size: 20px;
                        }
                        @media screen and ( max-width: 767px){
                            padding-top: 24px;
                            padding-left: 0;
                        }
                        @media screen and ( max-width: 479px){
                           font-size: 20px;
                        }
                    }
                    p{
                        padding: 0 36px;
                        font-size: 18px;
                        color: #adaabf;
                        font-weight: 300;
                        line-height: 150%;
                        margin-bottom: 24px;
                        @media screen and ( max-width: 991px){
                            padding: 0;
                        }
                        @media screen and ( max-width: 767px){
                            padding-left: 0;
                        }
                    }
                    .card-date{
                        padding: 0 36px;
                        padding-bottom: 48px;
                        display: flex;
                        align-items: center;
                        @media screen and ( max-width: 991px){
                            padding: 0;
                            margin-top: 10px;
                        }
                        @media screen and ( max-width: 767px){
                            padding-left: 0;
                        }
                        .card-date-icon{
                            padding-right: 0.5rem;
                        }
                        .card-date-text{
                            color: #adaabf;
                        }
    
                    }
                }
            }
            }

            
        }
    }

}