body{
    background-color: $color-primary;
    .countries-main{
        padding: 120px 80px;
        @media screen and ( max-width: 991px){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px){
            padding: 40px 20px 64px;
        }
        @media screen and ( max-width: 479px){
            padding: 60px 12px;
        }
        .main-head{
            h1{
                margin-bottom: 24px;
                font-size: 39px;
                line-height: 120%;
                font-weight: 600;
                @media screen and ( max-width: 991px){
                    font-size: 34px;
                }
            }
            p{
                max-width: 80%;
                min-height: auto;
                min-width: auto;
                margin-top: 10px;
                color: #adaabf;
                font-size: 20px;
                margin-bottom: 24px;
                line-height: 150%;
                @media screen and ( max-width: 479px){
                    max-width: 100%;
                }

            }
        }
        .main-img{
            @media screen and ( max-width: 991px){
                display: none;
            }
            img{
                width: 100%;
            }
        }
    }
    .countries-names{
        background-color: $color-secondary;
        padding-top: 160px;
        padding-bottom: 160px;
        @media screen and ( max-width: 991px){
            padding: 100px 48px;
        }
        @media screen and ( max-width: 767px){
            padding: 80px 40px;
        }
        .countries{
            max-width: 1080px;
            .countries-item{
                padding-left: 40px;
                padding-right: 40px;
                @media screen and ( max-width: 991px){
                    padding-left: 0;
                    padding-right: 0;
                }
                @media screen and ( max-width: 767px){
                    text-align: center;
                }
                ul{
                    margin-bottom: 10px;
                    li{
                        line-height: 150%;
                    }
                }
                .line{
                   width: 50%;
                   height: 1px;
                   margin-top: 16px;
                   margin-bottom: 16px;
                   background-color: #5b557f;
                   @media screen and ( max-width: 767px){
                    display: inline-block;
                }
                }
            }
        }
        
    }
    .book-demo{
        background-color: $color-primary;
        padding: 160px 105px;
        text-align: center;
        @media screen and (max-width:991px){
            padding: 80px 40px;
        }
        @media screen and (max-width:767px){
            padding: 100px 48px;
        }
        @media screen and (max-width: 479px){
            padding-left: 22px;
            padding-right: 22px;
        }
        h2{
            display: block;
            font-size: 35px;
            line-height: 120%;
            font-weight: 600;
            margin-bottom: 2.5rem;
            @media screen and (max-width:767px){
                font-size: 30px;
            }
        }
        .button{
                display: inline-block;
                background-color: $color-fourth;
                padding: 16px 32px;
                font-size: 17px;
                font-weight: 400;
                cursor: pointer;
                border-radius: 0.3rem;
                min-width: 120px;
                text-align: center;
                @media screen and (max-width: 479px){
                    min-width: 100%;
                }
                // width: max-content;
                &:hover{
                    background-color:$color-button-hover;
                }
        }

    }
    .countries-global{
        background-color: $color-secondary;
        padding: 140px 80px;
        @media screen and ( max-width: 991px){
            padding: 80px 48px;
        }
        @media screen and ( max-width: 767px){
            padding: 80px 24px;
        }
        @media screen and ( max-width: 479px){
            padding: 60px 16px;
        }
        & h2{
            font-size: 33px;
            line-height: 140%;
            font-weight: 600;
            margin-bottom: 24px;
            @media screen and ( max-width: 991px){
                font-size: 34px;
            }
            @media screen and ( max-width: 479px){
                font-size: 26px;
            }
        }
        & .watch-video{
            display: flex;
            align-items: center;
            & p{
                font-size: 18px;
                line-height: 150%;
            }
            & a{
                display: inline-block;
                .global-play-icon{
                    margin-left: 16px;
                }
            }
            .modal {
                position: fixed;
                top: 18%;
                left: 20%;
                height: 50%;
                width: 70%;
                display: grid;
                place-items: center;
                background: rgba(0, 0, 0, 0.411);
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
                transition: all .3s ease-out;

                .modal-container {
                    width: 100%;
                    position: relative;
                    padding: 0 1rem;
                    max-width: 80rem;
                    #close {
                        font-size: 3rem;
                        float: right;
                        color: $color-white;
                        cursor: pointer;
                        img{
                            width: 35px;
                            height: 35px;
                            filter: invert(1);
                        }
                    }

                    .iframe-container {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        padding-top: 56.25%;

                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }

                }
            }

            .modal.show {
                visibility: visible;
                pointer-events: all;
                opacity: 1;
            }

        }
        & .countries-global-main{
            margin-top: 80px;
            @media screen and ( max-width: 991px){
                margin-top: 88px;
            }
            .countries-global-item{
                @media screen and ( max-width: 767px){
                    margin-bottom: 24px;
                }
                
                & img{
                    min-height: 40px;
                    min-width: 40px;
                    margin-top: 16px;
                }
                & h3{
                    margin-top: 24px;
                    margin-bottom: 8px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 140%;
                }
                & .countries-global-item-text{
                    color: #adaabf;
                }
                & a{
                    display: block;
                    display: flex;
                    align-items: center;
                    color: #867df3;
                    & p{
                        line-height: 150%;
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 15px;
                    }
                    & img{
                        padding-left: 4px;
                        width: 10px !important;

                    }
                }
            }
        }
    }
    
}