body{
    background-color: $color-primary;

    .employment-main{
        padding: 140px 64px;
        @media screen and ( max-width: 991px){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px){
            padding: 80px 16px;
        }
        @media screen and ( max-width: 479px){
            padding: 60px 12px;
        }
        .employment-main-body{
            h1{
                max-width: 700px;
                margin-bottom: 24px;
                font-size: 45px;
                line-height: 55px;
                font-weight: 600;
                @media screen and ( max-width: 767px){
                    font-size: 42px;
                }
                @media screen and ( max-width: 479px){
                    font-size: 34px;
                    line-height: 44px;
                }
            }
            p{
                max-width: 470px;
                color: #adaabf;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 24px;
                @media screen and ( max-width: 767px){
                    font-size: 16px;
                }
            }
            .employment-main-buttons{
                .button{
                    display: inline-block;
                    min-width: 160px;
                    padding: 16px 32px;
                    border-radius: 4px;
                    background-color: #5b35d5;
                    transition: .3s;
                    font-size: 16px;
                    text-align: center;
                    @media screen and ( max-width: 479px){
                        min-width: 100%;
                    }
                    &:hover{
                       background-color:$color-button-hover;
                    }
                    &.contact-button{
                        border: 1px solid white;
                        margin-left: 16px;
                        background-color: transparent;
                        @media screen and ( max-width: 479px){
                            margin-left: 0;
                            margin-top: 8px;
                        }
                        &:hover{
                            background-color: hsla(0,0%,100%,.1);
                        }
                    }
                }
            }
        }
    }

    .why-choose-panther{
        background-color: $color-secondary;
        padding: 140px 64px;
        @media screen and ( max-width: 991px){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px){
            padding: 80px 16px;
        }
        @media screen and ( max-width: 479px){
            padding: 60px 12px;
        }
        h5{
            width: max-content;
            font-family: "Roboto", sans-serif;
            margin-bottom: 50px;
            padding: 4px 12px;
            border-radius: 4px;
            background-color: rgba(91,53,213,.2);
            letter-spacing: .6px;
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            @media screen and ( max-width: 767px){
                margin-bottom: 32px;
            }
            @media screen and ( max-width: 479px){
                font-size: 12px;
            }
        }
        .choose-item{
            margin-bottom: 120px;
            @media screen and ( max-width: 991px){
                margin-bottom: 80px;
            }
            @media screen and ( max-width: 767px){
                margin-bottom: 36px;
            }
            h3{
                font-size: 33px;
                line-height: 40px;
                font-weight: 600;
                text-align: left;
                @media screen and ( max-width: 767px){
                    font-size: 28px;
                    line-height: 36px;
                }
                @media screen and ( max-width: 479px){
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            p{
                font-size: 14px;
                line-height: 20px;
                padding-left: 20px;
                @media screen and ( max-width: 767px){
                    font-size: 14px;
                    padding-left: 0;
                }
            }
        }
    }

    .employment-tab{
        padding: 140px 64px;
        @media screen and ( max-width: 991px ){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px ){
            padding: 80px 16px;
        }
        @media screen and ( max-width: 479px ){
            padding: 60px 12px;
        }
        .tab-row{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and ( max-width: 767px ){
                align-items: flex-start;
            }
            h2{
                margin-bottom: 20px;
                font-size: 26px;
                line-height: 35px;
                font-weight: 600;
                text-align: center;
                @media screen and ( max-width: 991px ){
                    margin-bottom: 32px;
                }
                @media screen and ( max-width: 767px ){
                    margin-bottom: 24px;
                    text-align: left;
                }
            }
            .tab-paragraph{
                max-width: 600px;
                margin-bottom: 80px;
                text-align: center;
                color: #adaabf;
                font-size: 18px;
                line-height: 24px;
                @media screen and ( max-width: 767px ){
                    text-align: left;
                    margin-bottom: 48px;
                    font-size: 16px;

                }
            }
            .employment-tab-content{
                .tab-content-header{
                    margin-bottom: 24px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    @media screen and ( max-width: 767px ){
                        justify-content: left;
                    }
                    & a{
                        border: 1px solid #322b5f;
                        border-radius: 4px;
                        background-color: #322b5f;
                        margin-right: 16px;
                        margin-bottom: 16px;
                        padding: 16px 24px;
                        &:hover{
                            background-color: rgba(50,43,95,.8);
                        }
                        &.active{
                            border-color: #66e7d8;
                            background-color: #0f0d1e;
                        }

                    }
                }
                .tab-content-body{
                    .tab-content-box{
                        opacity: 1;
                        transition: opacity 300ms ease-out 0s;
                        position: relative;
                        display: none;
                        padding: 48px;
                        background-color: $color-secondary;
                        border: 1px solid hsla(0,0%,100%,.1);
                        border-radius: 16px;
                        @media screen and ( max-width: 991px ){
                            padding: 40px;
                        }
                        @media screen and ( max-width: 767px ){
                            padding-left: 24px;
                            padding-right: 24px;
                        }
                        @media screen and ( max-width: 479px ){
                            padding-left: 16px;
                            padding-right: 16px;
                        }
                        &.active{
                            display: block;
                        }
                        .tab-content-box-text{
                            @media screen and ( max-width: 991px ){
                                margin-bottom: 32px;
                            }
                            & h4{
                                margin-bottom: 32px;
                                font-size: 22px;
                                line-height: 30px;
                                font-weight: 400;
                            }
                            & p{
                                font-size: 18px;
                                line-height: 24px;
                                margin-bottom: 24px;
                                @media screen and ( max-width: 767px ){
                                    font-size: 16px;
                                }
                            }
                            & a{
                                font-size: 16px;
                                display: flex;
                                align-items: center;
                                & span{
                                    margin-right: 8px;
                                    border-bottom: 1px solid #fff;
                                }
                            }
                        }
                        .tab-content-box-img{
                            img{
                                max-width: 100%;
                                border-radius: 16px;
                            }
                        }
                    }
                }

            }
        }
        
    }

    .employment-benefits-founder{
        background-color: $color-secondary;
        padding: 140px 64px;
        @media screen and ( max-width: 991px ){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px ){
            padding: 80px 16px;
        }
        @media screen and ( max-width: 479px ){
            padding: 60px 12px;
        }
        h5{
            width: max-content;
            font-family: "Roboto", sans-serif;
            margin-bottom: 40px;
            padding: 4px 12px;
            border-radius: 4px;
            background-color: rgba(91,53,213,.2);
            letter-spacing: .6px;
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            @media screen and ( max-width: 479px){
                font-size: 12px;
            }
        }
        h2{
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
            @media screen and ( max-width: 991px ){
                margin-bottom: 32px;
            }
            @media screen and ( max-width: 479px ){
                margin-bottom: 26px;
            }
        }
        ul{
            li{
                display: flex;
                margin-bottom: 16px;
                p{
                    padding-left: 10px;
                    font-size: 14px;
                    line-height: 20px;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .contact-button{
            display: inline-block;
            width: max-content;
            padding: 16px 32px;
            margin-top: 40px;
            border-radius: 4px;
            font-size: 16px;
            background-color: #5b35d5;
            transition: .3s;
            &:hover{
                background-color: #7460ef;
            }
            @media screen and ( max-width: 991px ){
                margin-top: 32px;
            }
            @media screen and ( max-width: 479px ){
                width: 100%;
                text-align: center;
            }
            

        }
    }

    .employment-benefits-hr-professional{
        background-color: $color-primary;
        padding: 140px 64px;
        @media screen and ( max-width: 991px ){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px ){
            padding: 80px 16px;
        }
        @media screen and ( max-width: 479px ){
            padding: 60px 12px;
        }
        .hr-professional-body{
            h2{
                margin-bottom: 20px;
                font-size: 30px;
                line-height: 40px;
                font-weight: 600;
                @media screen and ( max-width: 991px ){
                    margin-bottom: 32px;
                }
                @media screen and ( max-width: 479px ){
                    margin-bottom: 26px;
                }
            }
            ul{
                li{
                    display: flex;
                    margin-bottom: 16px;
                    p{
                        padding-left: 10px;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .contact-button{
                display: inline-block;
                width: max-content;
                padding: 16px 32px;
                margin-top: 40px;
                border-radius: 4px;
                font-size: 16px;
                background-color: transparent;
                border: 1px solid white;
                transition: .3s;
                &:hover{
                    background-color: hsla(0,0%,100%,.1);
                }
                @media screen and ( max-width: 991px ){
                    margin-top: 32px;
                }
                @media screen and ( max-width: 479px ){
                    width: 100%;
                    text-align: center;
                }
            }

        }
        .latest-news{
            margin-top: 120px;
            padding: 48px;
            border-radius: 16px;
            background-color: #5b35d5;
            @media screen and (max-width:991px){
                padding: 40px;
            }
            @media screen and (max-width:991px){
                padding-left: 24px;
                padding-right: 24px;
                margin-top: 80px;
            }
            h5{
                width: max-content;
                margin-bottom: 16px;
                background-color: transparent;
                color: #f7f5fd;
                padding: 4px 12px;
                border-radius: 4px;
                letter-spacing: .6px;
                font-family: Roboto,sans-serif;
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
                border: 1px solid #f7f5fd;
            }
            h2{
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;
                font-weight: 600;
                @media screen and (max-width:991px){
                    margin-bottom: 32px;
                    font-size: 26px;
                }
            }
            & .button{
                width: max-content;
                background-color: #0f0d1e;
                display: inline-block;
                padding: 16px 32px;
                border: 1px solid transparent;
                border-radius: 4px;
                transition: .3s;
                font-size: 16px;
                min-width: 160px;
                &:hover{
                    background-color: #272635;
                }
                @media screen and ( max-width: 479px ){
                    width: 100%;
                    text-align: center;
                }

            }
        }
       
    }

    .testimonials{
        background-color: $color-fourth;
        padding: 140px 48px;
        @media screen and (max-width: 991px){
            padding: 80px 48px;
        }
        @media screen and (max-width: 767px){
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @media screen and (max-width: 479px){
            padding: 40px 20px;
        }
        .testimonials-header{
            margin-bottom: 4rem;
            h2{
                font-size: 2rem;
                text-align: center;
                font-weight: 600;
                line-height: 120%;
                @media screen and (max-width: 767px){
                    font-size: 30px;
                }
            }
        }
        .testimonials-body{
            margin-top: 48px;
            max-width: none;
            margin-left: auto;
            margin-right: auto;
            .testimonials-persons{
                display: flex;
                justify-content: center;
                @media screen and (max-width: 991px){
                    display: flex;
                    justify-content: space-between;
                }
                @media screen and (max-width: 479px){
                    display: flex;
                    justify-content: left;
                    width: 50%;
                }
                a{
                    display: flex;
                    margin-right: 16px;
                    margin-left: 16px;
                    padding: 24px 32px;
                    align-items: center;
                    border-style: none none solid;
                    border-bottom-width: 2px;
                    border-color: transparent;
                    border-radius: 0;
                    background-color: transparent;
                    opacity: .64;
                    cursor: pointer;
                    @media screen and (max-width: 991px){
                        margin-left: 0;
                        padding-left: 16px;
                    }
                    @media screen and (max-width: 767px){
                        margin-left: 0;
                        padding-left: 8px;
                    }
                    @media screen and (max-width: 479px){
                        flex-direction: column;
                    }
                    
                    .person-img{
                        display: inline-block;
                        height: 60px;
                        margin-right: 16px;
                        border-radius: 0;
                        @media screen and (max-width: 767px){
                            height: 48px;
                        }
                    }
                    .person-name{
                        font-size: 18px;
                        font-weight: 500;
                        @media screen and (max-width: 767px){
                            font-size: 16px;
                            margin-top: 3px;
                        }
                    }
                    &.active{
                        opacity: 1;
                        border-bottom-color:#ff9a83;
                    }
                    
                }
            }
            .testimonials-box{
                background-color: $color-white;
                padding: 80px 120px 64px;
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                @media screen and (max-width: 991px){
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                @media screen and (max-width: 767px){
                    padding: 48px 48px 32px;
                }
                @media screen and (max-width: 479px){
                    padding-right: 32px;
                    padding-bottom: 24px;
                    padding-left: 32px;
                }
                
                .person-text{
                    position: relative;
                    max-width: 720px;
                    display: none;
                    margin: 0 auto;
                    
                    .text-paragraph{
                        color: #0f0d1e;
                        margin-bottom: 16px;
                        font-size: 24px;
                        line-height: 170%;
                        font-weight: 300;
                        text-align: center;
                    }
                    .person-info{
                        color: #5b35d5;
                        font-size: 18px;
                        text-align: center;
                        margin-bottom: 24px;
                        line-height: 150%;
                    }
                    &.active{
                        display: block;
                        transition: opacity 300ms ease 0s;
                    }
                }
            }

        }
    }

    .employment-contact{
        padding: 140px 64px;
        @media screen and (max-width:991px){
            padding: 80px 48px;
        }
        @media screen and (max-width:767px){
            padding: 80px 16px;
        }
        @media screen and (max-width:479px){
            padding: 60px 10px;
        }
        .employment-contact-header{
            & h2{
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;
                font-weight: 600;
                @media screen and (max-width:767px){
                    font-size: 26px;
                }
            }
            & .button{
                display: inline-block;
                min-width: 160px;
                padding: 16px 32px;
                border-radius: 4px;
                background-color: #5b35d5;
                transition: .3s;
                font-size: 16px;
                text-align: center;
                &:hover{
                    background-color:$color-button-hover;
                }
                @media screen and (max-width:479px){
                    min-width: 100%;
                }
                    
            }
        }

        .employment-contact-form{
            background-color: $color-white;
            color: #0f0d1e;
            border-radius: 16px;
            width: 85%;
            padding: 40px;
            margin: 0 auto;
            @media screen and (max-width:991px){
                padding: 32px;
            }
            @media screen and (max-width:767px){
                margin-top: 64px;
                width: 100%;
            }
            @media screen and (max-width:479px){
                padding: 32px 24px;
            }

            form{
                display: flex;
                flex-direction: column;
                color: #0f0d1e;
                .form-h2{
                    margin-bottom: 40px;
                    color: #0f0d1e;
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 50px;
                    @media screen and (max-width:767px){
                        margin-top: 0;
                        font-size: 32px;
                    }
                    @media screen and (max-width:479px){
                        font-size: 28px;
                    }
                }
                .form-label{
                    margin-bottom: 8px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #0f0d1e;
                    span{
                        color: #7460ef;
                    }
                }
                .form-input{
                    margin-bottom: 16px;
                    min-height: 50px;
                    border: 1px solid rgba(15,13,30,.2);
                    border-radius: 4px;
                    padding: 8px 12px;
                    outline: none;
                    &::-webkit-input-placeholder { 
                        color: #0f0d1e;
                        opacity: 0.4;
                        font-size: 16px;
                    }
                    
                }
                .textarea-label{
                    margin-bottom: 8px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #0f0d1e;
                }
                textarea{
                    margin-bottom: 40px;
                    min-height: 120px;
                    border: 1px solid rgba(15,13,30,.2);
                    border-radius: 4px;
                    padding: 8px 12px;
                    outline: none;
                    &::-webkit-input-placeholder { 
                        color: #0f0d1e;
                        opacity: 0.4;
                        font-size: 16px;
                        font-family: Inter;
                    }
                }

                .submit-input{
                    display: inline-block;
                    min-width: 160px;
                    padding: 16px 32px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    background-color: #5b35d5;
                    transition: .3s cubic-bezier(.25, .46, .45, .94);
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                         background-color: #7460ef;
                    }
                }
                .checkbox{
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    .checkbox-input{
                        width: 20px;
                        margin-right: 12px;
                        border-radius: 4px;
                        height: 20px;
                    }
                    .checkbox-label{
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        color: #0f0d1e;
                        cursor: pointer;
                    }
                }

            }
        }

    }

    .employment-questions{
        background-color: $color-secondary;
        padding: 140px 60px;
        @media screen and ( max-width: 991px){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px){
            padding: 80px 24px;
        }
        @media screen and ( max-width: 479px){
            padding: 60px 16px;
        }
        .questions-header{
            @media screen and ( max-width: 991px){
                margin-bottom: 48px;
            }
            h2{
                font-size: 30px;
                line-height: 40px;
                font-weight: 600;
                @media screen and ( max-width: 991px){
                    font-size: 26px;
                }
                
            }
        }
        
        .questions-body{
            padding-left: 32px;
            @media screen and ( max-width: 991px){
                padding-left: 0;

            }
            .questions-body-item{
                margin-bottom: 36px;
                .item-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 8px;
                    cursor: pointer;
                    h4{
                        font-size: 22px;
                        line-height: 30px;
                        font-weight: 400;
                    }
                    .question-right-arrow{
                        width: 32px;
                        height: 32px;
                        transition: all 0.4s ease;
                        &.active{
                            transform: rotate(90deg);
                        }
                    }
                }
                .item-open-box{
                    width: 580px;
                    
                    &.active{
                        display: block;
                    }
                    @media screen and ( max-width: 479px){
                        width: 330px;

                    }
                    & p{
                        color: #adaabf;
                        max-width: 80%;
                        margin-top: 10px;
                        font-size: 18px;
                        margin-bottom: 24px;
                        line-height: 150%;
                        & a{
                            color: #867df3;
                        }
                    }

                    &.open-box1{
                        display: none;
                        &.active{
                            display: block;

                        }
                    }
                    &.open-box2{
                        display: none;
                        &.active{
                            display: block;
                        }
                    }
                    &.open-box3{
                        display: none;
                        &.active{
                            display: block;
                        }
                    }
                    &.open-box4{
                        display: none;
                        &.active{
                            display: block;
                        }
                    }

                }
                
            }
            .questions-footer-text{
                color: #adaabf;
                max-width: 80%;
                margin-top: 10px;
                font-size: 20px;
                margin-bottom: 24px;
                line-height: 150%;
                & a{
                    color: #867df3;
                }
            }
        }

    }

    
}