body{
    background-color: $color-primary;

    .payroll-main{
        padding: 80px;
        @media screen and ( max-width:767px){
            padding: 40px;
        }
        @media screen and ( max-width:479px){
            padding: 40px 24px;
        }
        .payroll-main-text{
            @media screen and ( max-width:991px){
                margin-bottom: 36px;
            }
            @media screen and ( max-width:479px){
                margin-bottom: 48px;
            }
            
            h1{
                font-size: 39px;
                text-align: left;
                margin-bottom: 48px;
                line-height: 120%;
                font-weight: 600;
                @media screen and ( max-width:767px){
                    font-size: 34px;
                }
            }
            .button{
                background-color: $color-fourth;
                padding:1.2rem 2rem;
                font-size: 1.1rem;
                font-weight: 400;
                cursor: pointer;
                border-radius: 0.3rem;
                width: 100%;
                &:hover{
                    background-color:$color-button-hover;
                }
                
                
            }
        }
        .payroll-main-img{
            img{
                width: 100%;
            }
        }
    }

    .payroll-card{
        background-color: $color-secondary;
        padding: 140px 80px;
        @media screen and ( max-width: 991px){
            padding: 80px 40px;
        }
        @media screen and ( max-width: 479px){
            padding: 80px 16px;
        }
        .payroll-card-main{
            .payroll-card-item{
                background-color: $color-primary;
                padding:40px;
                border-radius: 16px;
                min-height: 100%;
                @media screen and ( max-width: 991px){
                    padding-top: 32px;
                    padding-right: 32px;
                    padding-left: 23px;
                }
                img{
                    margin-bottom: 36px;
                    width: 48px;
                    height: 48px;
                }
                h3{
                    font-size: 24px;
                    line-height: 150%;
                    font-weight: 500;
                    @media screen and ( max-width: 479px){
                        font-size: 20px;
                    }
                }
                p{
                    max-width: 90%;
                    margin-top: 10px;
                    color: #adaabf;
                    font-size: 20px;
                }
                
            }
            
        }
    }

    .payroll-book-demo{
        background-color: $color-primary;
        padding: 160px 105px;
        text-align: center;
        
        @media screen and (max-width:991px){
            padding: 80px 40px;
        }
        @media screen and (max-width:767px){
            padding: 100px 48px;
        }
        @media screen and (max-width: 479px){
            padding-left: 22px;
            padding-right: 22px;
        }
        h2{
            display: block;
            font-size: 35px;
            line-height: 120%;
            font-weight: 600;
            margin-bottom: 2.5rem;
            @media screen and (max-width:767px){
                font-size: 30px;
            }
        }
        .button{
                display: inline-block;
                background-color: $color-fourth;
                padding: 16px 32px;
                font-size: 17px;
                font-weight: 400;
                cursor: pointer;
                border-radius: 0.3rem;
                min-width: 120px;
                text-align: center;
                @media screen and (max-width: 479px){
                    min-width: 100%;
                }
                // width: max-content;
                &:hover{
                    background-color:$color-button-hover;
                }
        }

    }

    .payroll-questions{
        background-color: $color-secondary;
        padding: 140px 60px;
        @media screen and ( max-width: 991px){
            padding: 80px 36px;
        }
        @media screen and ( max-width: 767px){
            padding: 80px 24px;
        }
        @media screen and ( max-width: 479px){
            padding: 60px 16px;
        }
        .questions-header{
            @media screen and ( max-width: 991px){
                margin-bottom: 48px;
            }
            h2{
                font-size: 35px;
                line-height: 120%;
                font-weight: 600;
                @media screen and ( max-width: 767px){
                    font-size: 42px;
                }
                @media screen and ( max-width: 479px){
                    font-size: 32px;
                }
            }
        }
        
        .questions-body{
            padding-left: 32px;
            @media screen and ( max-width: 991px){
                padding-left: 0;

            }
            .questions-body-item{
                .item-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 8px;
                    cursor: pointer;
                    h5{
                        font-size: 20px;
                        line-height: 150%;
                        font-weight: 400;
                        margin-top: 8px;
                    }
                    .question-right-arrow{
                        width: 32px;
                        height: 32px;
                        transition: all 0.4s ease;
                        &.active{
                            transform: rotate(90deg);
                        }
                    }
                }
                .item-open-box{
                    width: 580px;
                    
                    &.active{
                        display: block;
                    }
                    @media screen and ( max-width: 479px){
                        width: 330px;

                    }
                    & p{
                        color: #adaabf;
                        max-width: 80%;
                        margin-top: 10px;
                        font-size: 20px;
                        margin-bottom: 24px;
                        line-height: 150%;
                        & a{
                            color: #867df3;
                        }
                    }

                    &.open-box1{
                        display: none;
                        &.active{
                            display: block;

                        }
                    }
                    &.open-box2{
                        display: none;
                        &.active{
                            display: block;
                        }
                    }
                    &.open-box3{
                        display: none;
                        &.active{
                            display: block;
                        }
                    }
                    &.open-box4{
                        display: none;
                        &.active{
                            display: block;
                        }
                    }

                }
                
            }
            .questions-footer-text{
                color: #adaabf;
                max-width: 80%;
                margin-top: 10px;
                font-size: 20px;
                margin-bottom: 24px;
                line-height: 150%;
                & a{
                    color: #867df3;
                }
            }
        }

    }

}